@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="list-card">
    <h3>Are you sure you want to delete this experience?</h3>
    <hr />
    @Html.DisplayFor(model => model.ExperienceName)
    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" / class="btn">
    }
    @Html.ActionLink("Back to List", "Index", "Experience")
</div>