@using TravelBlog.Models
@model TravelBlog.Models.Comment

<form id="newComment">
    <input type="hidden" value="@ViewBag.LocationId" name="locationId" />

    <label asp-for="Body">Comment: </label>
    <input  asp-for="Body"/>

    <label for="UserEmail">Email: </label>
    <input type="text" id="UserEmail" name="UserEmail"/>

    <button id="add" type="submit">Add</button>
</form>